{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}{% endblock %}



{% block extraBottomHead %}
    <link rel="stylesheet" type="text/css" href="{% static "twitter_project/css/imgareaselect-animated.css" %}" />
    <script type="text/javascript" src="{% static "twitter_project/js/jquery.imgareaselect.pack.js" %}"></script>
{% endblock %}



{% block body %}
  <div class="shade"></div>
  <div class="profile-banner-holder" style="overflow: hidden;">
    <input id="loadBGImage" type="file" onchange="launchBGCrop(this);">
    <div class="profile-banner" data-scroll-speed="4">
      <div class="bg-image-shade text-center">
        <div class="fa fa-camera fa-5x"></div>
        <div style="font-size: 20px;font-weight: bold;">Change your header photo</div>
      </div>
    </div>
    <div class="profile-tab" data-scroll-speed="6">
                            <input id="loadProfileImage" type="file" onchange="launchImageCrop(this);">
              <div class="container">
                <div class="row" style="margin-top: 10px;">
                  <div class="col-sm-4 col-lg-3 hidden-xs">
                    <div class="avatar-holder">
                        <div id="avatar-shade" class="avatar-shade text-center">
                          <div class="fa fa-camera fa-5x"></div>
                          <div style="font-size: 20px;font-weight: bold;">Change your profile photo</div>
                        </div>
                      <img class="avatarImage" src="{% if userImages.avatar %}{{userImages.avatar}}{%else%}{% static "twitter_project/image/default.png" %}{%endif%}" alt="Robert Boyett">
                    </div>
                    <div class="hidden-avatar">
                      <div class="avatar-holder2">
                        <img class="avatarImage" src="{% if userImages.avatar %}{{userImages.avatar}}{%else%}{% static "twitter_project/image/default.png" %}{%endif%}" alt="Robert Boyett">
                      </div>
                      <div class="name-holder">
                        <h5>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h5>
                        <div>{{ user.username }}</div>
                      </div>
                    </div>
                  </div>
                  
                  
                  <div class="col-xs-10 col-sm-6">
                    <div class="col-xs-3 tab active">
                      <div class="tweet-label text-center">TWEETS</div>
                      <div class="tweet-number text-center">{{ tweetCount }}</div>
                    </div>
                    <div class="col-xs-3 tab">
                      <div class="tweet-label text-center">FOLLOWING</div>
                      <div class="tweet-number text-center">301</div>
                    </div>
                    <div class="col-xs-3 tab">
                      <div class="tweet-label text-center">FOLLOWERS</div>
                      <div class="tweet-number text-center">154</div>
                    </div>
                    <div class="col-xs-3 tab">
                      <div class="tweet-label text-center">FAVORITES</div>
                      <div class="tweet-number text-center">8</div>
                    </div>
                  </div>
                  <div class="col-sm-2 col-lg-3">
                    <button id="editProfileButton" class="btn-editProfile btn btn-follow btn-lg pull-right text-default">Edit profile</button>
                    <button id="editProfileCancel" class="btn btn-primary pull-right" style="display: none;">Done</button>
                  </div>
                </div>
              </div>
    </div>
  </div>
  
      <div class="row">
        <div class="col-sm-4 col-lg-3">  <!-- Left Column --------------------------------->
          <div class="profile-holder">
            <div class="name-holder">
              <h4>{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</h4>
              <div>{{ user.username }}</div>
            </div>
          </div>
              
              
              
              
              <!------- Classes Panel ------------------->
<div class=" accordion" id="accordion1">
  <div class="accordion-group panel panel-default">
    <div class="accordion-heading panel-heading">
      <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
        My Classes
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in panel-body">
      {% if allClasses %}
                  <div class="bs-component">
                    <div class="list-group">
                      {% for class in allClasses %}
                        <!--
                      <a href="#" class="list-group-item">
                        {{ class.name|title }}
                        <button class="btn btn-default btn-xs pull-right popovers" data-toggle="popover" title="Controls"
                            data-content="<button class='btn btn-warning btn-sm' style='margin-bottom:3px;width:68px;' onclick='displayCode();'><i class='fa fa-qrcode'></i> {{ class.code }}</button>
                              <div><button class='btn btn-danger btn-sm'><i class='fa fa-lock'></i></button>
                              <button class='btn btn-danger btn-sm'><i class='fa fa-trash'></i></button></div>"
                            ><i class="fa fa-cog"></i></button>
                            -->
                            
                      <a href="#" class="list-group-item dropdown">
                        {{ class.name|title }}
                        <button id="cog{{ class.id }}" class="btn btn-default btn-xs pull-right" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i></button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="cog{{ class.id }}">
                              <li>
                                <span><button class="btn btn-success btn-sm" style="margin-left: 5px;" onclick="displayCode({{ class.id }},'{{ class.code }}');"><i class='fa fa-qrcode'></i> {{ class.code }}</button></span>
                                <span><button class='classLockButton btn {% if class.allowJoin %}btn-success{%else%}btn-danger{%endif%} btn-sm' data-options='{ "classID":{{ class.id }} }'><i class='fa {% if class.allowJoin %}fa-unlock{%else%}fa-lock{%endif%}'></i></button></span>
                                <span><button class='classDeleteButton btn btn-danger btn-sm' data-options='{ "classID":{{ class.id }} }'><i class='fa fa-trash'></i></button></span>
                              </li>
                            </ul>
                      </a>
                      {% endfor %}
                    </div>
                  </div>
      {% else %}
        sorry, no classes yet
      {% endif %}
    </div>
                <div class="panel-footer">
                    <div style="display: inline-block; height: 20px;width: 100%">
                      <a  data-toggle="modal" data-target="#createClassPopup" style="cursor: pointer;float: left;">create a class</a>
                      <a  data-toggle="modal" data-target="#joinClassPopup" style="cursor: pointer;float: right;">join a class</a>
                    </div>
                </div>
  </div>
</div>
              <!------------------------ End of Classes Panel ------------------------------------->
              
              
              
              
              
              <!------- Trends Panel ------------->
<div class=" accordion" id="accordion2">
  <div class="accordion-group panel panel-default">
    <div class="accordion-heading panel-heading">
      <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion2" href="#trendlist">
        High School Trends
      </a>
    </div>
    <div id="trendlist" class="accordion-body collapse in panel-body">
      <div class="accordion-inner">
                  <ul class="trend-list">
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                    <li><a href="#">#whatever</a></li>
                  </ul>
      </div>
    </div>
  </div>
</div>
              <!----------------------- End of Trends Panel ------------------------------->
              
              
              
              
              
              
              
              
              <!-- Floating Right Column --------------------------------->
              
<div class="accordion hidden-lg" id="accordion3">
  <div class="accordion-group panel panel-default">
    <div class="accordion-heading panel-heading">
      <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion3" href="#followlist1">
        Who to Follow
      </a>
    </div>
    <div id="followlist1" class="accordion-body collapse in panel-body">
      
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
    </div>
  </div>
</div>
              
              <!-- End of Floating Right Column -------------------------->
              
              
              
        </div>    <!-- End of Left Column ------------------------------------------------->
        
        <div class="col-sm-8 col-lg-6 tweets-panel">  <!-- Tweets Column --------------------------------->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-xs-8 col-xs-offset-2 text-center">
                      <span class="tweets-title" style="font-size: 22px;">Tweets</span>
                    </div>
                  </div>
                </div>
                <div class="panel-body tweet-panel">
                  
                  <ul>
                    <li class="row" style="background-color: #f5f8fa;">
                      <div class="col-xs-12 text-center">
                        <button class="btn btn-twitter-no-bg" data-toggle="tooltip" data-placement="top" title="Delete">
                                <span style="font-size: 13px;">View 10 new Tweets</span>
                        </button>
                      </div>
                    </li>
                    <li class="row">
                      <div class="col-xs-1" style="padding: 0;">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-11">
                        <div class="col-xs-12 tweet-holder" style="min-height: 48px;">
                          <span class="name" style="">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                          <span class="username">{{ user.username }}</span>
                          <span class="time">2h</span>
                          <p id="tweet-deck4" class="tweet-text">Here is a #tag tweet @you www.google.com that I am trying to write that is approximately or actually exactly one hundred and forty characters long.  I hope this</p>
                        </div>
                        <div class="col-xs-12">
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips" data-toggle="tooltip" data-placement="top" title="Reply">
                              <span class="fa fa-reply"></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips success-hover" data-toggle="tooltip" data-placement="top" title="Retweet">
                              <span class="fa fa-retweet"><span style="font-size: 14px;font-weight: bold;"> 10</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips warning-hover" data-toggle="tooltip" data-placement="top" title="Favorite">
                              <span class="fa fa-star"><span style="font-size: 14px;font-weight: bold;"> 5</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips danger-hover" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                          <div class="col-xs-4 pull-right">
                            <button class="btn btn-twitter-no-bg pull-right" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span>view conversation</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col-xs-1" style="padding: 0;">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-11">
                        <div class="col-xs-12 tweet-holder" style="min-height: 48px;">
                          <span class="name" style="">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                          <span class="username">{{ user.username }}</span>
                          <span class="time">2h</span>
                          <p id="tweet-deck1" class="tweet-text">Here is a #tag tweet that I am trying to write that is approximately or actually exactly one hundred and forty characters long.  I hope this</p>
                        </div>
                        <div class="col-xs-12">
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips" data-toggle="tooltip" data-placement="top" title="Reply">
                              <span class="fa fa-reply"></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips success-hover" data-toggle="tooltip" data-placement="top" title="Retweet">
                              <span class="fa fa-retweet"><span style="font-size: 14px;font-weight: bold;"> 10</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips warning-hover" data-toggle="tooltip" data-placement="top" title="Favorite">
                              <span class="fa fa-star"><span style="font-size: 14px;font-weight: bold;"> 5</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips danger-hover" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                          <div class="col-xs-4 pull-right">
                            <button class="btn btn-twitter-no-bg pull-right" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span>view conversation</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col-xs-offset-1 col-xs-11">
                        <span class="fa-stack">
                          <i class="fa fa-square fa-stack-1x text-success" style="font-size: 18px;"></i>
                          <i class="fa fa-retweet fa-stack-1x fa-inverse" style="font-size: 12px;"></i>
                        </span>
                        <span class="text-muted" style="font-size: 13px;"><a href="#">Joe Blow</a> retweeted</span>
                      </div>
                      <div class="col-xs-1" style="padding: 0;">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-11">
                        <div class="col-xs-12 tweet-holder" style="min-height: 48px;">
                          <span class="name" style="">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                          <span class="username">{{ user.username }}</span>
                          <span class="time">2h</span>
                          <p id="tweet-deck2" class="tweet-text">Here is a #tag tweet that I am trying to write that is approximately or actually exactly one hundred and forty characters long.  I hope this</p>
                        </div>
                        <div class="col-xs-12 tweet-img text-center">
                          <img src="https://pbs.twimg.com/media/B5LxnNGCQAA2PUU.jpg" class="img-responsive" alt="whatever">
                        </div>
                        <div class="col-xs-12">
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips" data-toggle="tooltip" data-placement="top" title="Reply">
                              <span class="fa fa-reply"></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips success-hover" data-toggle="tooltip" data-placement="top" title="Retweet">
                              <span class="fa fa-retweet"><span style="font-size: 14px;font-weight: bold;"> 10</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips warning-hover" data-toggle="tooltip" data-placement="top" title="Favorite">
                              <span class="fa fa-star"><span style="font-size: 14px;font-weight: bold;"> 5</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips danger-hover" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                          <div class="col-xs-4 pull-right">
                            <button class="btn btn-twitter-no-bg pull-right" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span>view conversation</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                    <li class="row">
                      <div class="col-xs-1" style="padding: 0;">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-11">
                        <div class="col-xs-12 tweet-holder" style="min-height: 48px;">
                          <span class="name" style="">{{ user.first_name|capfirst }} {{ user.last_name|capfirst }}</span>
                          <span class="username">{{ user.username }}</span>
                          <span class="time">2h</span>
                          <p id="tweet-deck3" class="tweet-text">Here is a #tag tweet that I am trying to write that is approximately or actually exactly one hundred and forty characters long.  I hope this</p>
                        </div>
                        <div class="col-xs-12">
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips" data-toggle="tooltip" data-placement="top" title="Reply">
                              <span class="fa fa-reply"></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips success-hover" data-toggle="tooltip" data-placement="top" title="Retweet">
                              <span class="fa fa-retweet"><span style="font-size: 14px;font-weight: bold;"> 10</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips warning-hover" data-toggle="tooltip" data-placement="top" title="Favorite">
                              <span class="fa fa-star"><span style="font-size: 14px;font-weight: bold;"> 5</span></span>
                            </button>
                          </div>
                          <div class="col-xs-2 text-center">
                            <button class="btn btn-twitter-NoBG tooltips danger-hover" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span class="fa fa-trash"></span>
                            </button>
                          </div>
                          <div class="col-xs-4 pull-right">
                            <button class="btn btn-twitter-no-bg pull-right" data-toggle="tooltip" data-placement="top" title="Delete">
                              <span>view conversation</span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </li>
                    
                  </ul>
                  
                  
                </div>
              </div>
        </div>    <!-- End of Tweets Column ------------------------------------------------->
        
        
        
        <div class="col-lg-3 visible-lg">  <!-- Floating Right Column --------------------------------->
            <div class="accordion" id="accordion4">
              <div class="accordion-group panel panel-default">
                <div class="accordion-heading panel-heading">
                  <a class="accordion-toggle panel-title" data-toggle="collapse" data-parent="#accordion4" href="#followlist2">
                    Who to Follow
                  </a>
                </div>
                <div id="followlist2" class="accordion-body collapse in panel-body">
      
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
                  <div class="alert alert-dismissable" style="padding: 0 15px 0 0;margin-bottom: 10px;">
                    <div class="row">
                      <div class="col-xs-3">
                        <img class="avatar" src="https://pbs.twimg.com/profile_images/523120150669586432/AS14NZtS_bigger.jpeg" alt="Robert Boyett">
                      </div>
                      <div class="col-xs-8 following-bar">
                        <div class="col-xs-12" style="overflow: hidden;">
                          <span class="name" style="">Joe Blow</span>
                          <span class="username">@joblow</span>
                        </div>
                        <button class="btn btn-follow"><span class="fa fa-plus" style="font-size: 8px;margin: -5px 0 0 0;"></span>
                          <span class="fa fa-user" style="font-size: 14px;margin: 0 5px 0 -3px;"></span>Follow</button>
                      </div>
                      <div class="col-xs-1">
                        <button type="button" class="close pull-right" data-dismiss="alert"><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
                      </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
        </div>    <!-- End of Floating Column ------------------------------------------------->
<div class="row">
  <div class="col-sm-4 col-lg-3">
    

  </div>
</div>

<!---
              <div class="panel panel-default"> ---- Classes Panel ------------------
                <div class="panel-heading">
                  <span class="panel-title">My Classes</span>
                </div>
                <div class="panel-body">
                  <div class="bs-component">
                    <div class="list-group">
                      <a href="#" class="list-group-item active">
                        1st Period
                        <button class="btn btn-default btn-xs pull-right"><i class="fa fa-cog"></i></button>
                      </a>
                      <a href="#" class="list-group-item">
                        2nd Period
                        <button class="btn btn-default btn-xs pull-right"><i class="fa fa-cog"></i></button>
                      </a>
                      <a href="#" class="list-group-item">
                        3rd Period
                        <button class="btn btn-default btn-xs pull-right"><i class="fa fa-cog"></i></button>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                    <div style="display: inline-block; height: 20px;width: 100%">
                      <a href="#" style="float: left;">create a class</a>
                      <a href="#" style="float: right;">join a class</a>
                    </div>
                </div>
              </div> <!------------------------ End of Classes Panel ------------------------------------->
        
        
        

        
        
{% endblock %}






{% block modal %}
  

<!-- *****************    Crop Image Display   ******************************************************* -->
<div id="crop-image-popup" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
        <h4 class="modal-title">Crop</h4>
      </div>
      <div class="modal-body modal-tweet">
        <div class="row">
          <div class="col-xs-12">
            <img id="cropDisplay" class="img-responsive" src="#" alt="your image" style="width: 100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-primary disabled">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- *****************    Crop Background Image Display   ******************************************************* -->
<div id="crop-bg-image-popup" class="modal fade" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content rounded">
      <div class="modal-header top-rounded">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ><span class="fa fa-close"style="color: #000;font-size: 14px;"></span></button>
        <h4 class="modal-title">Crop</h4>
      </div>
      <div class="modal-body modal-tweet">
        <div class="row">
          <div class="col-xs-12">
            <img id="bgCropDisplay" class="img-responsive" src="#" alt="your image" style="width: 100%;">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <button type="button" class="btn btn-primary disabled">Update</button>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}






{% block extraScript %}
  <script>
    var sendFileURL = "{% url "classrooms.ajax.avatarCrop" %}";
    var sendBGImageFileURL = "{% url "classrooms.ajax.backgroundImageCrop" %}";
  </script>
  <script src="{% static "twitter_project/js/profile.js" %}"></script>
{% endblock %}










      